
<div class="container">
  <h1>Climbing Routes</h1>

  <div class="six columns" id="route-form">
    <form class="" action="index.html" method="post">
      <input type="text" name="name" placeholder="Route Name" >
      <br>
      <input type="text" name="grade" placeholder="Grade">
      <br>
      <input type="text" name="description" placeholder="Route Description">
      <br>
      <input type="text" name="location" placeholder="Location">
      <br>
      <input type="button" name="submit" value="Submit">
    </form>
  </div>

  <div class="four columns">
    <p id="route-list"></p>
  </div>

</div>
